<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="retail-live-pricing"/>

    <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                          "level":"%level",
                          "logger":"%logger{36}",
                          "thread":"%thread",
                          "message":"%message",
                          "application":"${appName}",
                          "env":"${ENVIRONMENT:-local}",
                          "traceId":"%mdc{trace_id:-}",
                          "spanId":"%mdc{span_id:-}",
                          "correlationId":"%mdc{correlationId:-}",
                          "userId":"%mdc{userId:-}",
                          "wsSessionId":"%mdc{wsSessionId:-}"
                        }
                    </pattern>
                </pattern>
                <stackTrace>
                    <fieldName>exception</fieldName>
                </stackTrace>
            </providers>
        </encoder>
    </appender>

    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="CONSOLE_JSON"/>
        </root>
    </springProfile>

    <springProfile name="staging,prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE_JSON"/>
        </root>
    </springProfile>
</configuration>
